@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #5da4d3;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background-color: var(--primaryColor);
  font-family: "Lato", sans-serif;
  height: 100vh;
  word-spacing: var(--mainSpacing);
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content {
  margin: auto;
  text-align: center;
}

.count-line {
  font-size: 100px;
  padding: 0 20px;
}

.btn {
  outline: 0;
  margin-right: 1px;
  transition: 0.3s;
  padding: 5px 30px;
}

button:hover {
  outline: 0;
  background-color: #449cd7;
  color: var(--mainWhite);
} 

